.main {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 300px;
  }
  
  .main img {
    width: 200x;
    height: 200px;
  }
  
  .main h2 {
    font-weight: 900;
    font-size: 42px;
  }